body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: #fff;
  overflow: auto;
}

.main {
  display: grid;
  grid-column-gap: 2.3vw;
  grid-row-gap: 7vw;
  grid-template-columns: repeat(8, 7vw);
  grid-auto-rows: 7vw;
  grid-template-areas:
    " . . . . g1 . . ."
    ". g2 . g3 . g4 . g5"
    "g6 . g7 . g8 . g9 ."
    " . . . g10 . . . .";
  justify-content: space-evenly;
}
.clip {
  position: relative;
  background-color: #ccc;
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transform: scale(2.5);
  transition: 0.3s;
}
.hex1 {
  grid-area: g1;
}
.hex2 {
  grid-area: g2;
}
.hex3 {
  grid-area: g3;
}
.hex4 {
  grid-area: g4;
}
.hex5 {
  grid-area: g5;
}
.hex6 {
  grid-area: g6;
}
.hex7 {
  grid-area: g7;
}
.hex8 {
  grid-area: g8;
}

.hex9 {
  grid-area: g9;
}
.hex10 {
  grid-area: g10;
}
